@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.barra{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 10;
}

.barra .logo{
    background-image: url(../images/Puma-logo.png);
    background-position: center;
    background-size: cover;
    width: 16%;
    height: 60px;
    margin-right: 175vh;
    position: absolute;
}

.barra a{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    height: 60px;
    margin-top: 20px;
    margin-left: 10vh;
    text-decoration: none;
}

.barra a:hover{
    font-size: 25px;
    color: chocolate;
    transition: all 0.5s;
}

.barra #logo{
    background-image: url(../images/Puma-logo.png);
    width: 20%;
    height: 30px;
}

.barra img{
    margin: 20px;
    margin-left: -0.5vh;
}

.barra img:hover{
    width: 35%;
    height: 40px;
    cursor: pointer;
    transition: all 0.5s;
}

.encabezado{
    background-color: black;
    width: 100%;
    height: 27.7cm;
    margin-top: -6px;
}

.encabezado .banner{
    background-image: url(../images/banner\ puma\ dua.JPG);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 8cm;
}

.seccion1{
    background-color: black;
    width: 100%;
    height: 21.2cm;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.seccion1 div{
    background-color: white;
    width: 32%;
    height: 10cm;
    margin-top: 15px;
}

.seccion1 p{
    cursor:text;
    font-size: 60px;
    font-weight: 700;
    font-family: Bebas Neue;
    text-align: center;
    margin-top: 280px;
    background: linear-gradient(rgb(170, 170, 16),rgb(255, 0, 221),rgb(3, 162, 202));
    -webkit-background-clip: text;
    color: transparent;
}

.seccion1 .prod1{
    background-image: url(../images/prod\ 1.jpg);
    background-size: cover;
    background-position: center;
}

.seccion1 .prod2{
    background-image: url(../images/prod\ 2.jpg);
    background-size: cover;
    background-position: center;
}

.seccion1 .prod3{
    background-image: url(../images/prod\ 3.jpg);
    background-size: cover;
    background-position: center;
}

.seccion1 .prod4{
    background-image: url(../images/prod\ 4.jpg);
    background-size: cover;
    background-position: center;
}

.seccion1 .prod5{
    background-image: url(../images/prod\ 5.jpeg);
    background-size: cover;
    background-position: center;
}

.seccion1 .prod6{
    background-image: url(../images/prod6.jpg);
    background-size: cover;
    background-position: center;
}

.flooter{
    background-color: black;
    width: 100%;
    height: 10cm;
}

.flooter .flologo{
    background-image: url(../images/Puma-logo.png);
    background-size: cover;
    background-position: center;
    width: 30%;
    height: 10cm;
    margin-left: 40vh;
}

.flooter ul{
    list-style: none;
    font-size: 25px;
    font-family: Bebas Neue;
    color: white;
    margin-left: 120vh;
    margin-top: -8cm;
}
