@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.barra{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    width: 100%;
    position: fixed;
    height: 70px;
    z-index: 10;
}

.barra .logo{
    background-image: url(../images/Puma-logo.png);
    background-position: center;
    background-size: cover;
    width: 16%;
    height: 60px;
    margin-right: 175vh;
    position: absolute;
}

.barra a{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    height: 60px;
    margin-top: 20px;
    margin-left: 10vh;
    text-decoration: none;
}

.barra a:hover{
    font-size: 25px;
    color: chocolate;
    transition: all 0.5s;
}

.barra #logo{
    background-image: url(../images/Puma-logo.png);
    width: 20%;
    height: 30px;
}

.barra img{
    margin: 20px;
    margin-left: -0.5vh;
}

.barra img:hover{
    width: 35%;
    height: 40px;
    cursor: pointer;
    transition: all 0.5s;
}

.titprincipal{
    color: white;
    text-align: center;
    font-family: Bebas Neue;
    letter-spacing: 2px;
}

.sedes{
    margin-top: 30px;
    width: 100%;
    height: 15cm;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
}

.sedes div{
    width: 30%;
    height: 5cm;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.sedes div:hover{
    width: 29%;
    height: 4.8cm;
    transition: all 0.5s;
}

.sedes img{
    width: 60%;
    height: 4cm;
    float: right;
}

.sedes p{
    font-size: 28px;
    font-family: Bebas Neue;
    margin-left: 15px;
    margin-top: 5px;
}

.flooter{
    background-color: black;
    width: 100%;
    height: 10cm;
}

.flooter .flologo{
    background-image: url(../images/Puma-logo.png);
    background-size: cover;
    background-position: center;
    width: 30%;
    height: 10cm;
    margin-left: 40vh;
}

.flooter ul{
    list-style: none;
    font-size: 25px;
    font-family: Bebas Neue;
    color: white;
    margin-left: 120vh;
    margin-top: -8cm;
}
